
        body {
            font-family: 'Times New Roman', Times, serif, sans-serif;
            margin: 30px;
            text-align: center;
        }

        h1 {
            color: #fffdfd;
        }
        h2, h3, h4 {
            color: #0a0a0a;
        }
        .titulo {
            background-color: #10be3c;
            color: aliceblue;
        } 
        body a {
            color: #fffdfd;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        
        #perfil {
            max-width: 100px;
            height: auto;
            border-radius: 50%; 
            margin-top: 10px; 
        }
        

        a:hover {
            text-decoration: underline;
        }

        p {
            line-height: 1.6;
        }
      
    
        img {
            max-width: 100%;
            height: auto;
        }

        ul, ol {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        a {
            color: #f5f5f5;
            text-decoration: none;
        }
        header {
            background-color: #0a0a0a; 
            color: white;
            text-align: center;
            padding: 1em 0;
        }

        footer {
            background-color: #0a0a0a; 
            color: white;
            text-align: center;
            padding: 1em 0;
        }